html{
    text-align: center;
}
main section {
        
}

main section article {
    }

main section article div {
}

img {
    width: 25%;
}

.logo {
    width: 100vw;
}
.banner{
    width: 100vw;
}