* {
    box-sizing: border-box;
}

body.body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    margin: 0;
}

.main-header {
    background-color: #EAC926;
    padding: 24px;
    width: 100vw;
}

div.main-header-top-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50%;
}

.logo-and-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar{
    width: 50%;
    height: fit-content;
    padding: 0;
    background-color: #fff;
    font-size: 12px;
    color: #666;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.search-bar input{
    border: 0;
    width: 90%;
    border-radius: 7px;
    padding: 4px;
    font-size: 12px;
}

.search-input:focus{
    border: none;
    outline: none;
}

.search-bar i{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 7px;
}

.copy-header {
    font-weight: 400;
    display: block;
    text-align: center;
    font-size: 12px;
    width: 75vw;
}

.burger {
    background-color: #03264C;
    color: #ebebeb;
    display: block;
    max-width: 30px;
    padding: 5 7;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #000000;
    display: inline-block;
    padding: 5px 0;
    font-size: 12px;
}

main, footer {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

.banner {
    width: 100vw;
}

.section-main-home{
    display: flex;
    flex-direction: column;
}

.section-main-home article {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
}

.section-main-home article div.articulo{
    display: flex;
    margin-bottom: 10px;
    border-top: solid 1px #666;
    padding: 15px;
    background-color: #fff;
    flex-flow: column nowrap;

}

.section-main-home article div img {
    border-bottom: solid 1px #ebebeb;
}


.section-main-home h3{
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    color: #666;
}

section img {
    width: 100%;
}

.div-truck{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #39b54a;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    position: relative;
    left: -15px;
    top: -15px;
    align-self: flex-end;    
    color: #39b54a;
}

.div-truck:hover {
    transition: all 1s;
    transform: rotate(-90deg);    
}

.pre-des{
    display: flex;
    flex-wrap: wrap;
}


.precio{
    width: 30%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.descuento{
    width: 70%;
    color: #39b54a;
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
}

.descripcion{
    font-size: 16px;
}


section article div div.descripcion{
    opacity: 0;
    
}

section article div div.descripcion:hover {
    opacity: 1;
    transition: opacity 1s;
}
    
.create-form {
    padding: 20px 15px;
}

.control-formulario {
    margin-bottom: 15px;
}

.control-formulario label {
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}

.control {
    width: 100px;
    padding: 8px;
}

.button-formulario {
    background-color: #39b54a;
    border: none;
    font-size: 20px;
    color: #ebebeb;
    padding: 5px 10px;
    border-radius: 5px;
}

footer,
section.footer-section,
section.footer-section h3,
section.footer-section i {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer section h3 i.fas {
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}

footer section h3 {
    font-size: 18px;
    color: #666;
}

.footer-section {
    font-size: 12px;
    color: #666;
    width: 50%;
    text-align: center;
}


.main-navbar{
    display: none;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------- */
@media (min-width: 768px) {
    div.main-header-top-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    

    .logo {
        width: 45%;
    }
    
    .logo-and-bar{
        width: 75%;
    }

    .copy-header {
        display: inline;
        width: 30%;
        text-align: right;
    }

    .search-bar{
        width: 45%;
        display: flex;
    }
    .search-bar input{
        font-size: 12px;
    }

    .burger {
        display: none;
    }

    .main-navbar {
        display: flex;
        justify-content: space-between;
        font-weight: 400;
    }

    .main-navbar ul {
        display: flex;
        justify-content: space-between;
    }

    .main-navbar li {
        margin: 0 5px;
    }

    .section-main-home{
        display: flex;
        flex-flow: column wrap;            
    }

    .section-main-home h3 {
        width: 100%;
    }

    .section-main-home article {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
    }
    
    div.articulo{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        flex-basis: 45%;
        display: flex;
        flex-flow: column nowrap;
        margin: 10px;
    }

    section article div div.descripcion{
        opacity: 1;
        
    }

}

/* ----------------------------------------------------------------------------------------------------------------------------------------------- */

@media (min-width: 1200px) {

    .logo-and-bar{
        width: 75%;
        display: flex;
        justify-content: space-between;
    }

    .logo{
        width: 40%;
    }

    .search-bar{
        display: flex;
        width: 40%;
    }

    .search-bar input{
        font-size: 12px;
    }

    .burger {
        display: none
    }

    .main-navbar {
        margin-top: 50px;
    }

    .main-navbar li {
        margin: 0 10px;
    }

    .main-navbar a {
        font-size: 12px;
    }

    div.main-header-top-bar, .logo-and-bar {
        display: flex;
        align-items: center;
    }

    .copy-header {
        max-width: none;
        font-size: 12px;
        font-weight: 400;
        margin: 0;
    }

    div.articulo{
        flex-basis: 22.5%;
    }

}